
@page { size: A4 landscape }
    * {
        font-size: 12px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }
	@media screen, print {
    h1 {
        font-weight: bold;
        font-size: 13pt;
        text-align: center;
    }
 
    table {
        border-collapse: collapse;
        width: 100%;
    }

    table .noborder{
        border : 0;
    }
 
    .table th {
        padding: 8px 8px;
        border:1px solid #000000;
        text-align: center;
    }
 
    .table td {
        padding: 3px 3px;
        border:1px solid #000000;
    }

    .table td .putih{
        color : #FFFFFF;
    }

    .table2 th {
        padding: 8px 8px;
        border:1px solid #FFF;
        text-align: center;
    }
 
    .table2 td {
        padding: 3px 3px;
        border:1px solid #FFF;
    }

    .table2 td {
        color: rgba(0, 0, 0, 0);
        background-color:#FFF;
    }
 
    .text-center {
        text-align: center;
    }
	}
    
}

